.formulario div {
    width: 15em;
    margin: auto;
    display: flex;
    flex-direction: column;   
}

.contacto {
    margin: 0 auto;
}

input{
    height: 20px;
}

label { 
    margin-top: 3px;
    margin-bottom: 1px;
}

input, textarea {
    margin-bottom: 3px;
    margin-top: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}

.enviar {
    margin-top: 5px;
    background-color: aquamarine;
 }
