.formulario { 
    width: 30%;
    margin: auto;
    padding: 1px;
    display: flex;
    flex-direction: column;
}


  
.contacto {

    height: 35px;
    background-color:#B52424; 
    text-align: center;
    padding-bottom: 4px;
   

}

input{
    height: 35px;
    text-indent: 4px;
    
}

textarea{
    text-indent: 4px;
    height: 150px;
    padding-top: 4px;

}


input, textarea, label, .contacto, .enviar, .divisor {
    margin: 5px;
    border-radius: 10px;

}

.enviar {
    height: 35px;
    margin-top: 10px;
    background-color:#B52424;
    color: white;
    font-size: 16px;
 }

.enviar:hover {
    background-color:red;
}

 @media screen and (max-width: 800px) {
    .formulario { 
        width: 75%;
    }

}
