.menu-icon{
    animation: rotate 2s linear infinite;
    width: 300px;
    height: 300px;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#next-movie{
    background-color: rgb(29, 29, 29);
    color: white;
}
#next-movie .next-container{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.next-container:hover .next-arrow {
    transform: scale(1.1);
}
#next-movie .movie-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    position: relative;
    overflow: hidden;
}
#next-movie .next-movie-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 380px;
    width: 30%;
    transition: transform 0.5s ease-in-out;
    justify-content: space-evenly;
}
#next-movie .next-movie-movie,
.next-movie-description{
    transition: transform 0.5s ease-in-out;
}

#next-movie .previous-arrow{
    transform: rotate(180deg);
    color: white;

    width: 50px;
    height: 50px;
}
#next-movie .next-arrow{
    width: 50px;
    height: 50px;
}
#next-movie .next-arrow:hover{
    transform: rotate(360deg);
    transition: 1s;
}
#next-movie .next-movie-movie{
    width: 410px;
    height: 600px;
    transform: translateX(0);
}
#next-movie .next-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#next-movie .next-header-img{
    width: 500px;
    height: 350px;
}
#next-movie .next-header-title {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em; 
    color: #3498db; 
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.next-header-title:after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #3498db;
    margin: 10px auto; 
}
#next-movie .next-header-empty-container{
    width: 500px;
}
#next-movie .next-movie-title{
    background: linear-gradient(to bottom, #FFF, black);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}
#next-movie .menu-lista{
    display: flex;
    width: 95%;
    justify-content: space-around;
    list-style-type: none;
    border-bottom: 3px solid rgb(45, 45, 45);
}
#next-movie .menu-lista-nav{
    background: linear-gradient(to top, rgb(29, 29, 29), rgb(35,35,35));
    width: 20%;
    display: flex;
    height: 100px;
    font-size: 40px;
    color: #3498db;
    align-items: center;
    justify-content: center;
}
#next-movie .menu-lista-nav a:hover {
    color: #3498db;
    border-bottom: 2px solid black
}
#next-movie .menu-lista-nav a {
    text-decoration: none; 
    color: #333;
    border-bottom: 1px solid gray;
}